<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display:block ;
            padding:5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px; background-color: black;color: white">
        张扬凌晨玩三点愤怒的小鸟
    </div>
    <div style="position:absolute;top:48px;bottom: 0;left:0;width: 200px;background-color: aqua">
        <a class="menu" href="/cmdb/user_info">用户管理</a>
        <a class="menu" href="/cmdb/user_group">组管理</a>
    </div>
    <div style="position: absolute;top:48px;left:210px;bottom: 0;right:0;overflow: auto">

        <h3>添加用户</h3>
        <form method="POST" action="/cmdb/user_info/">
            <input type="text" name="username" placeholder="用户名" >
            <input type="password" name="pwd" placeholder="密码" >
            <input type="submit" value="提交"/>
        </form>
        <h3>删除用户</h3>
        <form method="POST" action="/cmdb/user_info/">
            <input type="text" name="deletename" placeholder="用户名" >
            <input type="submit" value="删除"/>
        </form>
        <h3>用户列表</h3>
        <ul>
            {% for row in user_list %}
            <li> <a href="/cmdb/userdetail-{{ row.id }}">{{ row.username }}</a>&nbsp;&nbsp;&nbsp;
                <a href="/cmdb/deleteuser-{{ row.id }}">删除</a>
                <a href="/cmdb/useredit-{{ row.id }}">编辑</a>
            </li>
            {% endfor %}
        </ul>
    </div>


</body>
</html>